@charset "UTF-8";
:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --background-color: #F6F6F6;
}

* {
  font-family: "Roboto", "sans-serif";
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --background-color: #F6F6F6;
}

* {
  font-family: "Roboto", "sans-serif";
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*Loader*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 5em;
  width: 100%;
  background: white;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
  inset: 0;
  animation: loader 4s forwards;
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.forks {
  animation: jump 2s cubic-bezier(0, 1.49, 1, 1);
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.liquid {
  /*   border: 10px solid black; */
  position: relative;
  overflow: hidden;
  height: 300px;
}

.liquid:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 65px;
  inset: 100px 0 0 20px;
  background: var(--primary-color);
  transform: translateX(-30%);
  border-radius: 40%;
  animation: fill 8s ease infinite, jump 2s cubic-bezier(0, 1.49, 1, 1);
}

.glass {
  position: relative;
  animation: jump 2s cubic-bezier(0, 1.49, 1, 1);
  margin-top: 70px;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: flex;
  justify-content: center;
  width: 70%;
  position: absolute;
  bottom: 240px;
}

.loading > span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-color);
  margin: 0 5px;
  display: inline-block;
  animation: dots 3s ease-in-out infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}
/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 20px;
  padding-bottom: 10px;
}

.footer-logo {
  width: 98px;
  height: 18px;
  margin: 20px 0 20px 0;
}

footer > div {
  margin: 5px 0;
}

footer > div > img {
  margin-right: 5px;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 5px 0 5px 0;
}

/*Restaurants Backgrounds*/
* {
  font-family: "Roboto", "sans-serif";
}

h2 {
  font-size: 2.4em;
  font-weight: bold;
}

/*HEADER*/
h1 {
  width: 100%;
  height: 63px;
  margin: 0;
  text-align: center;
}

h1 > img {
  width: 180px;
  margin-top: 20px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  border: 1px solid lightgrey;
  box-shadow: 0 5px 10px lightgrey;
  height: 50px;
  background-color: #EAEAEA;
}

.localisation > img {
  margin-right: 10px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.headline > h2 {
  text-align: center;
}

.headline > p {
  text-align: center;
}

.headline > button {
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  height: 50px;
  border-radius: 50px;
  margin-bottom: 50px;
  box-shadow: 0 5px 10px lightgray;
  transition: box-shadow 1s;
}

.headline > button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 10px grey;
}

.headline > button > span {
  font-size: 1.2em;
  color: white;
  padding: 0 20px;
}

/*MAIN*/
/*FONCTIONNEMENT*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

h3 {
  padding-top: 40px;
  font-size: 1.3em;
}

h3, .fonctionnement-cards, .restaurant-cards {
  width: 90%;
}

.fonctionnement-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonctionnement-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  transition: opacity 1s;
}

.fonctionnement-card > img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -10px;
}

.fonctionnement-card > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 73px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 10px lightgray;
  background-color: #F6F6F6;
  transition: box-shadow 1s;
}

.fonctionnement-card > button > span,
.fonctionnement-card > button > img {
  margin-left: 20px;
}

.fonctionnement-card > button:hover {
  box-shadow: 5px 5px 10px grey;
  background: white;
}

/*RESTAURANTS*/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 60px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 1em 0;
}

.restaurant-card {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto 0 auto;
  height: 251px;
}

.restaurant-card > a,
.restaurant-card > a:visited {
  text-decoration: none;
  color: black;
}

/*Ajout du background de restaurant*/
#la_palette_du_gout {
  background: url("./../images/restaurants/la_palette_du_gout.jpg");
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#la_note_enchantee {
  background: url("./../images/restaurants/la_note_enchantee.jpg");
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#a_la_française {
  background: url("./../images/restaurants/a_la_française.jpg");
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#le_delice_des_sens {
  background: url("./../images/restaurants/le_delice_des_sens.jpg");
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.restaurant-new {
  float: right;
  margin: 5px 5px 0 0;
}

.restaurant-name-localisation-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-name-localisation {
  margin: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
}

.restaurant-name {
  margin: 0;
}

.restaurant-localisation {
  margin-top: 10px;
}

.restaurant-likes {
  position: relative;
}

.restaurant-like {
  height: 21px;
  margin-right: 20px;
  background-color: white;
}

.restaurant-like-full {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 2s;
}

.restaurant-like-full:hover {
  opacity: 1;
}

/*RESPONSIVE*/
@media (min-width: 950px) {
  h3, .fonctionnement-cards {
    width: 75%;
  }
  .fonctionnement-cards {
    flex-direction: row;
    gap: 0 2em;
  }
  .restaurant-cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 3em 3em;
  }
  .restaurant-card {
    width: 45%;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 114px;
  }
  .footer-logo {
    order: 2;
    margin-right: 50px;
    margin-top: 65px;
  }
  footer a {
    margin-right: 20px;
  }
  footer > a:last-child {
    margin-right: 62px;
  }
  footer > div,
  footer > a {
    margin-top: 50px;
  }
}/*# sourceMappingURL=style.css.map */